<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    
    <!-- jquery dependency -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
    
    <!-- chessjs script-->
    <script src="{{ url_for('static', filename='js/chess.js') }}"></script>
    
    
    <!-- chess widget-->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
    
    
  
  </head>
  <body>
    <div id="chess_board" style="width: 600px"></div>
    <label>Status:</label>
    <div id="status"></div>
    <label>FEN:</label>
    <div id="fen"></div>
    <label>PGN:</label>
    <div id="pgn"></div>
    
    <!-- Play only legal Moves-->
    <script src="{{ url_for('static', filename='js/play_legal_moves.js') }}"></script>
  </body>
</html>

